SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD="your_app_password"
SMTP_FROM_EMAIL=from@example.com
SMTP_FROM_NAME="Your Name"
SMTP_TO_EMAIL=to@example.com
SMTP_TO_NAME="Recipient Name"